
<div class="container">
  <div class="navbar">

    <div class="fixed-top sebnavbar-lewagon">
      <div id="nav-icon" class="">
              <span onmouseover="this.style.opacity='0.6'" onmouseout="this.style.opacity='0.9'"></span>
              <span onmouseover="this.style.opacity='0.6'" onmouseout="this.style.opacity='0.9'"></span>
              <span onmouseover="this.style.opacity='0.6'" onmouseout="this.style.opacity='0.9'"></span>
      </div>
    </div>



    <div class="text">
      <p>Save your soul</p>
      <h2 class="linear">Choose a drink</h2>
      <!-- <a class="navbar-brand text-primary">Cocktail bar</a> -->
      <!-- <div>
        <%= link_to "Add new cocktail", new_cocktail_path, class: "button-ghost" %>
      </div> -->
    </div>
  </div>


  <div class="cards">
    <% @cocktails.each_with_index do |cocktail, index| %>
      <% if cocktail.photo.present? %>
        <div class="card-category">
             <%= cl_image_tag(cocktail.photo,
              width: 280, height: 280, crop: :fill) %>
              <% else %>
             <%= cl_image_tag("#{cocktail.photo}",
               width: 400, height: 300, crop: :fill) %>
            <% end %>
            <h4 class="card-text"><%=cocktail.name%></h4>
            <p class="link"><%= link_to "Click me for more infos", cocktail_path(cocktail.id)%></p>
        </div>
    <% end %>
    <div class="card-customize">
      <h4><%= link_to "Add your new cocktail", new_cocktail_path %></h4>
    </div>
  </div>

  <div class="footer">
    <ul class="icon">
      <a href="#"><i class="fab fa-weixin"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </ul>
  </div>


<!--   <div class="card-container">
      <% @cocktails.each_with_index do |cocktail, index| %>
        <div class="cards">
           <% if cocktail.photo.present? %>
             <%= cl_image_tag(cocktail.photo,
              width: 280, height: 280, crop: :fill) %>
             <% else %>
             <%= cl_image_tag("#{cocktail.photo}",
               width: 400, height: 300, crop: :fill) %>
            <% end %>
          <h4 class="card-text mb-4"><%=cocktail.name%></h4>
          <%= link_to "check here for more info", cocktail_path(cocktail.id), class: "button-ghost" %>
        </div>
    <% end %>
  </div> -->
</div>


