<div class="card-center">
  <div id="icon">
    <%= link_to root_path do%><i class="fas fa-home"></i><% end %>
  </div>
  <div class="white-text">
    <h2>Add your cocktail</h2>
  </div>
   <div class="search-bar">
    <%= simple_form_for(@cocktail) do |f| %>
      <%=f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden%>
      <%= f.submit %>
    <% end %>
   </div>
</div>
