

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "submit here", class: "btn btn-primary" %>
<% end %>

<%= link_to "back to cocktail info", cocktail_path(@cocktail.id) %>


